<div class="footer">
  <p style="text-align:center">
  <!--CV icon-->
  <a href="CV.pdf" target="_blank"><img alt="" src="cv_logo.png" /> </a>&nbsp; &nbsp;&nbsp;
  <!--Email icon-->
  <a href="mailto:aatrey@cs.umass.edu" target="_blank"><img alt="" src="email_logo.png" /> </a>&nbsp; &nbsp;&nbsp;
  <!--LinkedIn icon-->
  <a href="https://www.linkedin.com/in/akankshaatrey/" target="_blank"><img alt="" src="linkedin_logo.png" /> </a>&nbsp; &nbsp;&nbsp;
  <!--Github icon-->
  <!-- <a href="https://github.com/akanksha95" target="_blank"><img alt="" src="github_logo.png" /> </a>&nbsp; &nbsp;&nbsp; -->
  <!--Google Scholar icon-->
  <a href="https://scholar.google.com/citations?user=Jf_jES4AAAAJ&hl=en&oi=ao" target="_blank"><img alt="" src="gscholar_logo.png" height="32" width="32"/> </a>&nbsp; &nbsp;&nbsp;
  </p>
  <div>Icons made by <a href="https://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 </a></div>
</div>